ktor {
    deployment {
        port = 8080
        port = ${?PORT}
    }
    application {
        modules = [ nu.lindeman.iiif.MainKt.module ]
    }
}

app {
    nuxeo {
        username = NuxeoUsername
        password = NuxeoPassword
        url = "http://localhost:8180/nuxeo/api/v1"
        ; proxy = "http://optional-proxy-address:8080/"
    }
    cantaloupe {
        server = "http://localhost:8280"
        path = iiif/3
    }
}
